/* 重設密碼半透明外框 */
.forgot {
    position: relative;
    width: 800px;
    min-height: 300px;
    background: #ffffff1b;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px #0000000c;
    border: 1px solid #ffffff74;
    border-right: 1px solid #ffffff21;
    border-bottom: 1px solid #ffffff21;
    margin: auto 0;
}
/* 表單資料區 */
.forgotform {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
/* 重設密碼標語 */
.forgotform h2 {
    position: relative;
    color: #ffffff;
    letter-spacing: 5px;
    margin-bottom: 40px;
}

.forgotform h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 110px;
    height: 4px;
    background: #ffffff;
}
/* 帳號信箱輸入區 */
/* 帳號 */
.forgotform .inputbox:nth-child(1){
    width: 50%;
    height: 45px;
    margin: 10px 0;
}
/* 信箱 */
.forgotform .inputbox:nth-child(2){
    width: 100%;
    height: 45px;
    margin: 10px 0;
}
/* 按鈕 */
.forgotform .inputbox:nth-child(3){
    width: 100%;
    height: 45px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotform .inputbox input {
    width: 100%;
    background: #ffffff41;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid #ffffff74;
    border-right: 1px solid #ffffff21;
    border-bottom: 1px solid #ffffff21;
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    box-shadow: 0 5px 15px #00000041;
}

.forgotform .inputbox input::placeholder {
    color: #000000;
}
/* 送出按鈕 */
.inputbox input[type="submit"] {
    background: #ffffff;
    max-width: 60px;
    padding: 5px;
    font-size: 14px;
    margin: 0px 30px;
    cursor: pointer;
    font-weight: 600;
}

.forgotform .inputbox input[type="submit"]:hover {
    background: #848484;
    color: #ffffff;
}
/* 清除按鈕 */
.forgotform .inputbox input[type="reset"] {
    background: #ffffff;
    max-width: 60px;
    padding: 5px;
    font-size: 14px;
    margin: 0px 30px;
    cursor: pointer;
    font-weight: 600;
}

.forgotform .inputbox input[type="reset"]:hover {
    background: #848484;
    color: #ffffff;
}

