.confirm{
    width: 100%;
    min-height: calc(100% - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete{
    position: relative;
    background: #595959;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    letter-spacing: 5px;
    padding: 10px 10px;
    transition: 0.5s;
    width: 180px;
}
.delete:hover{
    letter-spacing: 10px;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
.delete::before{
    content: "";
    position: absolute;
    background-color: #2a2a2a;
    inset: 2px;
}
.delete span{
    position: relative;
    z-index: 1;
}
.delete i{
    position: absolute;
    inset: 0;
    display: block;
}
.delete i::before{
    content: "";
    position: absolute;
    left: 80%;
    top: -2.5px;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #2a2a2a;
    transition: 0.5s;
}
.delete:hover i::before{
    width: 20px;
    left: 20%;
}
.delete i::after{
    content: "";
    position: absolute;
    left: 20%;
    bottom:  -2.5px;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #2a2a2a;
    transition: 0.5s;
}
.delete:hover i::after{
    width: 20px;
    left: 80%;
}
