/* 主內容區塊 */
.main {
    width: 100%;
    min-height: 100%;
    display: flex;
}

/* 左側選單區 */
.menu {
    width: 15%;
    min-height: 100%;
    padding: 20px 0;
}

.menu ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

.menu ul li {
    list-style: none;
    padding: 10px 10px 10px 50px;
}

.menu ul li a::before {
    content: "";
    position: absolute;
    top: 2px;
    left: -25px;
    width: 8px;
    height: 8px;
    border-top: 3px solid #005780;
    border-right: 3px solid #005780;
    transform: rotate(45deg);
    opacity: 0;
    transition: 0.5s;
}

.menu ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #a7a7a7b9;
    text-shadow: 0.5px 0.5px 0 #ffffff;
    font-weight: 700;
    transition: 0.5s;
    line-height: 18px;
}

.menu ul li a:hover {
    color: #727272;
}

.menu ul li a:hover::before {
    color: #003cbc;
    opacity: 1;
    animation-name: arrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes arrow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    /* 右側內容區     */
}

.member {
    width: 85%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: #ffffff1b;
    backdrop-filter: blur(5px);
}

/* 右側標題 */
.information {
    height: 45px;
    width: 100%;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 10px;
}