/* 分類選單 */
.select{
    position: fixed;
    top: 15px;
    right: 7%;
    width: 50px;
    height: 30px;
    text-align: center;
    background: #00000025;
    border-radius: 5px;
    transition: 0.5s;
    overflow: hidden;
}
.select:hover{
    height: 215px;
}
.select .selectText{
    color: #00447b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.select li{
    list-style: none;
    font-size: 14px;
    padding: 3px 0;
}
.select li a{
    display: block;
    height: 20px;
    width: 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #00447b;
    transition: 0.5s;
}
.select li a:hover{
    background: #00447b;
    color: #c8c8c8;
}