.vote_star{
    width: 100%;
    min-height: 100%;
}
.subject_name{
    position: relative;
    top: 10px;
    width: 100%;
    text-align: center;
    color: #00447b;
    text-shadow: 2px 2px 3px #0074d3;
}
.subject_form{
    width: 80%;
    min-height: calc(100% - 80px);
    margin: 15px auto;
}
