/* 投票列表 */
.container {
    max-width: 100%;
    min-height: calc(80vh - 45px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 5px;
}

/* 分類選單 */
.select {
    position: fixed;
    top: 15px;
    right: 7%;
    width: 50px;
    height: 30px;
    text-align: center;
    background: #00000025;
    border-radius: 5px;
    transition: 0.5s;
    overflow: hidden;
    z-index: 1;
}

.select:hover {
    height: 240px;
}

.select .selectText {
    color: #00447b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.select li {
    list-style: none;
    font-size: 14px;
    padding: 3px 0;
}

.select li a {
    display: block;
    height: 20px;
    width: 50px;
    border-radius: 5px;
    text-decoration: none;
    color: #00447b;
    transition: 0.5s;
}

.select li a:hover {
    background: #00447b;
    color: #c8c8c8;
}

/* 排序按鈕 */
.order {
    position: fixed;
    top: 15px;
    right: 3%;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.order a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: #00447b;
}

.order a:hover {
    background: #00447b;
    color: #c8c8c8;
}

/* 投票項目 */
.card {
    position: relative;
    width: 200px;
    height: 115px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px #d5d5d5;
    transition: 0.5s;
    background: linear-gradient(#3DFFEF, #DC40FF);
    margin: 20px 30px;
}

.card:hover {
    height: 175px;
}

/* 投票類別 */
.type {
    position: absolute;
    left: 50%;
    top: -15px;
    transform: translateX(-50%);
    width: 40px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 15px #a5a5a5;
    transition: 0.5s;
    background: linear-gradient(#3DFFEF, #DC40FF);
}

.card:hover .type {
    font-weight: bold;
    text-align: center;
    width: 60px;
    height: 35px;
    line-height: 35px;
}

/* 投票主題 */
.subject {
    width: 100%;
    height: 90px;
    padding: 5px;
    overflow: hidden;
    transition: 0.5s;
    transform: translateY(10px);
    text-align: center;
}

.card:hover .subject {
    transform: translateY(15px);
    height: 145px;
}

/* 主題文字 */
.subject .title {
    width: 100%;
    min-height: 80px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 主題日期 */
.subject .date {
    font-size: 14px;
    margin: 5px auto;
    font-weight: bold;
    color: #FF4C89;
}

/* 主題按鈕 */

.subject .buttom {
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
}

.subject .buttom a {
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    width: 70px;
    height: 25px;
    line-height: 25px;
    color: #ffffff;
    background: #0000005a;
    border-radius: 5px;
}

.subject .buttom a:hover {
    color: #49aeff;
    background: #0000008a;
}

/* 投票結束文字 */
.vote_end{
    position: absolute;
    color: red;
    top: 40%;
    left: 35%;
    border: 3px solid red;
    transform: rotate(-30deg);
}
/* 分頁目錄 */
.page {
    position: fixed;
    bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    width: 100%;
    height: 25px;
    text-align: center;
}

.page a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px;
    text-decoration: none;
    color: #00447b;
}

.page a:hover {
    background: #00447b;
    color: #c8c8c8;
}

/* 當前夜 */
.pageNow{
    border-bottom: 2px solid #00447b;
}